<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="WebservicesTest">
    <classes>
      <class name="rest.RestRunnerAllTests"/>
      <class name="soap.TestRunnerSingleTestSoap"/>
      <class name="soap.TestRunnerAllTestsSoap"/>
    </classes>
  </test>
</suite>
